.btn__btn {
    color: aliceblue;
    padding: 7px 25px;
    border: 1px solid #5142FC;
    border-radius: 50px;
    background-color: transparent;
}

.btn__btn a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
}


.btn__btn a:hover{
    color: #fff;
}

